<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>TODO App</h1>


    <!-- add /delete buttons -->
    <div>
        <form action="/add-task/" method="post">
            <!-- description -->
            <label>Description</label>
            <input type="text" name="desc" placeholder="What do you need to do" required>

            <!-- category -->
            <label>Category</label>
            <input type="text" name="category" placeholder="What do you need to do" required>

            <!-- due date -->
            <label>Category</label>
            <input type="date" name="date" placeholder="What do you need to do" required>

            <button type="submit">ADD TASK</button>
        </form>
    </div>


    <!-- LIST OF TASKS ADDED -->
    <h1> List of tasks added </h1>
    <div id="outer">

        <%for(let i of task_list){ %>

            <div id="inner">
                <input type="checkbox">
                <p>Tak is:
                    <%= i.description %>
                </p>
                <p>Category is:
                    <%= i.category %>
                </p>
                <p>Due date is:
                    <%= i.duedate %>
                </p>

                </input>

            </div>

            <%   } %>
    </div>
</body>

</html>